{{- /* One row per professor. Context: a list of entries from data/professors.json. */ -}}
<div class="scroll pinned top">
<table>
	<thead>
	<tr>
		<th rowspan="2" class="l pin1">{{ T "th_professor" }}</th>
		<th rowspan="2" class="l pin2">{{ T "th_institution" }}</th>
		<th colspan="3">ICLR</th>
		<th colspan="4">{{ T "th_accepted_at" }}</th>
		<th colspan="3">{{ T "th_total" }}</th>
		<th colspan="2" title="{{ T "tip_own_institution" }}">{{ T "th_own_institution" }}</th>
		<th colspan="5">{{ T "th_coauthors" }}</th>
		<th rowspan="2">{{ T "th_topic_areas" }}</th>
	</tr>
	<tr>
		<th>{{ T "th_submitted" }}</th>
		<th class="good">{{ T "th_accepted" }}</th>
		<th class="bad" title="{{ T "tip_rejected" }}">{{ T "th_rejected" }}</th>
		<th>NeurIPS</th>
		<th>ICML</th>
		<th>CVPR</th>
		<th>ACL</th>
		<th class="good">{{ T "th_accepted" }}</th>
		<th class="bad" title="{{ T "tip_rejected_total" }}">{{ T "th_rejected" }}</th>
		<th class="est" title="{{ T "tip_rejected_est" }}">{{ T "th_rejected_est" }}</th>
		<th title="{{ T "tip_majority" }}">{{ T "th_majority" }}</th>
		<th title="{{ T "tip_first_author" }}">{{ T "th_first_author" }}</th>
		<th title="{{ T "tip_per_paper" }}">{{ T "th_per_paper" }}</th>
		<th title="{{ T "tip_min" }}">{{ T "th_min" }}</th>
		<th title="{{ T "tip_max" }}">{{ T "th_max" }}</th>
		<th title="{{ T "tip_foreign" }}">{{ T "th_foreign" }}</th>
		<th title="{{ T "tip_other_institutions" }}">{{ T "th_other_institutions" }}</th>
	</tr>
	</thead>
	<tbody>
	{{- range . }}
	{{- $p := . }}
	{{- $iclr := .venues.iclr }}
	<tr>
		<td class="l pin1"><a href="{{ printf "professors/%s/" .slug | relLangURL }}">{{ partial "pname.html" . }}</a>{{ if .flags }}<sup title="{{ T "incomplete_star" }}">*</sup>{{ end }}</td>
		<td class="l pin2"><a href="{{ printf "institutions/%s/" .institution_slug | relLangURL }}">{{ .institution_short }}</a></td>
		{{- if .iclr_complete }}
		{{ partial "num.html" $iclr.submitted }}
		{{ partial "acc.html" (merge $iclr (dict "cls" "good")) }}
		{{ partial "numc.html" (dict "v" $iclr.not_accepted "cls" "bad") }}
		{{- else }}
		<td class="na">&ndash;</td>
		{{ partial "acc.html" (merge $iclr (dict "cls" "good")) }}
		<td class="na">&ndash;</td>
		{{- end }}
		{{- range slice "neurips" "icml" "cvpr" "acl" }}
		{{ partial "acc.html" (index $p.venues .) }}
		{{- end }}
		<td class="total good">{{ .official }}{{ if gt (int .own_page) 0 }} <span class="own" title="{{ T "own_page_more" (dict "Count" .own_page) }}">+{{ .own_page }}</span>{{ end }}</td>
		{{ partial "rejected-total.html" .venues }}
		{{- if eq .rejected_estimated nil }}
		<td class="na est">&ndash;</td>
		{{- else }}
		{{ partial "numc.html" (dict "v" .rejected_estimated "cls" "total est") }}
		{{- end }}
		{{ partial "num.html" .authorship.majority.total }}
		{{ partial "num.html" .authorship.first_author.total }}
		{{- range slice .collab.avg_coauthors .collab.min_coauthors .collab.max_coauthors .collab.avg_foreign .collab.elsewhere .collab.topic_areas }}
		{{- if eq (string .) "" }}
		<td class="na">&ndash;</td>
		{{- else }}
		<td>{{ . }}</td>
		{{- end }}
		{{- end }}
	</tr>
	{{- end }}
	</tbody>
</table>
</div>
